<!--The content below is only a placeholder and can be replaced.-->

<pre>
  <img src="\assets\vita_logo.png" >            <img src="\assets\smv3.png">          <a routerLink = "/UserLogin">User Login</a>
</pre>

    <nav>
      <input routerLink = "/Home" type="button" value = "Home"/>
      <input routerLink = "/Aboutus" type="button" value = "About Us"/>
      <input routerLink = "/Courses" type="button" value = "Courses"/>
      <input routerLink = "/Contactus" type="button" value = "Contact Us"/>
      <input routerLink = "/Gallery" type="button" value = "Gallery"/>
    </nav>
    
<router-outlet></router-outlet>
